#################################################
# Criar uma cópia deste arquivo nesta pasta     #
# sem a extensão .template e preencher os dados #
#################################################

# Conexão com BD
driver: oracle.jdbc.OracleDriver
url: ?
username: ?
password: ?

# Configurações Liquibase
defaultSchemaName: ?
changeLogFile: src/main/resources/migrations/rootchangelog.yml
